{
  "description": "This file identifies what depot this is in and and has paths to setup the python depot",
  "displayName": "Mechanical Art Tools",
  "pythonPath": "Python/framework/packages",
  "frameworkPath": "Python/framework",
  "name": "MCA_PYTHON_DEPOT",
  "projectName": "MechanicalArts",
  "version": "1.0.0",
  "team": "Rigging Tech Art"
}